@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
.contact_row{
    min-height: inherit;
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* align-items: center;
   justify-content: center;
   width: 100%;
   height: 100vh;
   background-color: #ffffff; */
}
.contact{
    min-height: inherit;
}
.row_item{
 flex: 1;
}

.item1{
background-color: #ededed;
min-height: inherit;
}
/* .gmap_container{
    border-radius: 1rem;
    box-shadow:  11px 11px 22px #c2c2c2,
             -11px -11px 22px #ffffff;
} */
/* .gmap{
    width: 100%;
   
    border: 1px solid white;

} */

/* iframe {
    border-radius: 1rem;
    height: 33rem;
    width: 30rem;
} */
.inputfield{
    display: flex;
    flex-direction: column;
}
.formcontainer{
    /* margin: .5rem; */
    /* padding: 1rem; */
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    min-height: inherit;
   
    /* box-shadow:  11px 11px 22px #c2c2c2,
                -11px -11px 22px #ffffff;*/
} 
.formcontainer form{
    /* min-height: inherit; */
    padding: 1rem;
    width: 80%;
}
.formcontainer input{
    border: none;
    /* border-bottom: 1px solid rgb(167, 167, 167); */
    background: #f7f6f6;
    /* width: 25rem; */
    margin-bottom: 1rem;
    padding: 1rem;
}
.formcontainer input:focus {outline:none!important;}
.formcontainer textarea{
    padding: 1rem;
    /* width: 25rem; */
    height: 15rem;
    margin-bottom: 1rem;
    border: none;
    /* border-radius:.5rem; */
    background-color: #f7f6f6;

}
.formcontainer textarea:focus {outline:none!important;}

.formcontainer button{
    padding:.5rem 1rem;
    border: none;
    /* border-radius: 10px; */
    color: #646464;
    background: #dfdfdf;
    width: 8rem;
    /* box-shadow:  11px 11px 22px #c2c2c2,
                 -11px -11px 22px #ffffff; */
}
.btncontainer{
    display: flex;
    justify-content: end;
}
.contactme{
    height: 10rem;
}
.item1{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.links_container{
    /* flex: 1; */
    display: flex;
    justify-content: end;
    padding: 1rem;
    width: 100%;
}
.svg_container{
    /* flex: 10; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.socialLinks{
    min-width: 7rem;
    display: flex;
    justify-content: space-between;
}
.socialLinks a{
    font-size: 1.5rem;
    color: grey;
}
.socialLinks a:hover{
    color: rgb(106, 106, 106);
}
/* .svg_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.emailaddress{
    /* padding: 3rem 1rem; */
    /* color: grey; */
    /* font-family: 'Raleway'; */
    /* font-weight: 600; */
}
.p1{
    margin: 0px;
    font-size: 1rem;
}
.mobileemailaddress{
    display: none;
}
.looking{
    font-size: 2rem;
}
.mobileP1{
    display: none;
}
.desktopP1{
    padding:0rem 1rem;
    width: 15rem;
}
@media screen and (max-width: 900px){
  .contact-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    padding-bottom: 1rem;
  }  
  .contact-cont h1{
    font-size:1.5rem;
  }
  .contact_row{
    flex-direction: column;
  }
  .contactme{
    display: none;
  }
  .emailaddress{
    display: none;
  }
  .links_container{
    /* flex: 1; */
    display: none;

}
.desktopP1{
    display: none;
}
.mobileP1{
    padding: 1rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.mobileemailaddress{
    color: grey;
    font-family: 'Raleway';
    font-weight: 600;
    display: block;
}
.looking{
    font-size: 1.5rem;
}
.p1{
    font-size: 12px;
}
.item1{
    min-height: 1rem;
}
.mobilegmaillink p{
  margin: 0px;
}
.svg_container{
    height: 10rem;
}
}

@media screen and (max-width: 500px){
    .contact-cont h1{
        font-size:1.2rem;
      }
      .looking{
        font-size: 1rem;
    }
    .mobileP1{
        padding: 1rem 0rem;

    }
    .svg_container{
        height: 8rem;
    }
}
/* .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
